a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {

    background-color: #ffffff;
    font-family: Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #414243;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    flex-basis: auto;
    position: relative;
}

.navigation a{
    display: block;
    color: #414243;
    padding: 25px 35px 15px 30px;
}

.navigation li:hover a.main-menu-link {
    color: #e30613;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    box-shadow:         0px -5px 5px 0px rgba(76, 76, 76, 0.1);
}

.navigation li:active a.main-menu-link {
    position: relative;
    color: #e30613;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    box-shadow:         0px -5px 5px 0px rgba(76, 76, 76, 0.1);
}

.nav-level-two {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    min-width: 320px;
    color: #ffffff;
    border-bottom: 3px solid #414141;
    padding: 40px 20px 30px 35px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px 0px 10px 5px rgba(76, 76, 76, 0.1);
    box-shadow:         0px 0px 10px 5px rgba(76, 76, 76, 0.1);


}


.nav-level-two li {
   padding-bottom: 10px;
}

li.shop-address,
li.check-status,
li.buyer-info {
    display: none;
}

.nav-level-two {
    visibility: hidden;
}

.navigation li:hover .nav-level-two {
    visibility: visible;
}

/*
.navigation li:hover .temporary {
    display: block;
}

 .temporary {
    display: block;
}
*/
.nav-level-two a {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}

a.additional-link {
    color: #297db7;
}

a.sublist-header {
    font-size: 18px;
    line-height: 18px;
    color: #297db7;
    margin-bottom: 10px;
}
/*
.nav-wrapper .nav-level-two {
    display: flex;
    position: absolute;
    top: 54px;
    left: -68px;
}
*/

.nav-level-two {
    display: flex;
    position: absolute;
    top: 54px;
    left: 0;
    min-width: 320px;
}

.nav-gadgets {
    left: -68px;
}

.nav-flex {
    flex-direction: column;
}
/*
.nav-level-two li {
    width: 180px;
}
*/
.nav-level-two li:first-of-type {
   width: 225px;
}

.nav-level-three {
    padding: 0;
    margin: 0;
}

.nav-level-three::after {
    content: "";
    border-right: 1px solid #e6e6e6;
    top: 35px;
    bottom: 20px;
    right: 35px;
    width: 1px;
    position: absolute;
}

.last ul:last-of-type::after {
    border: none;
}
