a {
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {

    background-color: #ffffff;
    font-family: Arial,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #414243;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    flex-basis: auto;
    position: relative;
}

.navigation a{
    display: block;
    color: #414243;
    padding: 25px 35px 15px 30px;
}

.navigation li:hover a.main-menu-link,
.navigation li:active a.main-menu-link {
    color: #e30613;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    box-shadow:         0px -5px 5px 0px rgba(76, 76, 76, 0.1);
}

/*
.navigation li:active a.main-menu-link {
    position: relative;
    color: #e30613;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px -5px 5px 0px rgba(76, 76, 76, 0.1);
    box-shadow:         0px -5px 5px 0px rgba(76, 76, 76, 0.1);
}
*/

.nav-level-two {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 320px;
    color: #ffffff;
    border-bottom: 3px solid #414141;
    padding: 40px 20px 30px 35px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(76, 76, 76, 0.1);
    -moz-box-shadow:    0px 0px 10px 5px rgba(76, 76, 76, 0.1);
    box-shadow:         0px 0px 10px 5px rgba(76, 76, 76, 0.1);
}


.nav-level-two li {
    width: 160px;
    padding-bottom: 10px;
}

li.shop-address,
li.check-status,
li.buyer-info {
    display: none;
}

.nav-level-two {
    visibility: hidden;
}

.navigation li:hover .nav-level-two {
    visibility: visible;
}

.nav-level-two a {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
}

a.additional-link {
    color: #297db7;
}

a.sublist-header {
    font-size: 18px;
    line-height: 18px;
    color: #297db7;
    margin-bottom: 10px;
}

.nav-level-two {
    display: flex;
    position: absolute;
    top: 54px;
    left: 0;
    min-width: 320px;
}

.nav-gadgets {
    left: -68px;
}

.nav-flex {
    flex-direction: column;
}

.nav-level-two li:first-of-type {
   width: 225px;
}

.nav-level-three {
    padding: 0;
    margin: 0;
}

.nav-level-three::after {
    content: "";
    border-right: 1px solid #e6e6e6;
    top: 35px;
    bottom: 20px;
    right: 35px;
    width: 1px;
    position: absolute;
}

.last ul:last-of-type::after {
    border: none;
}

.visible-mobile-only {
   display: none;
}

.phone-level-two {
    padding-bottom: 70px;
}

.nav-level-two .promo-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: black;
}

.bottom-block {
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.bottom-block::before {
    position: absolute;
    border-top: 1px solid #e6e6e6;
    content: "";
    left: 30px;
    right: 40px;
    top: 0;
}

.phone-promo {
    width: 200px;
    display: flex;

}

.promo {
    display: flex;
    width: 390px;
    margin-left: auto;
}

.nav-border::after {
    bottom: 55px;
}

.phone-promo a {
    color: #297db7;
}

.apple,
.android {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.phone-promo a:hover {
    color: #e30611;
}
    /*
    .phone-promo .apple::before {
        position: absolute;
        top: 5px;
        left: 35px;
        width: 26px;
        height: 30px;
        content: "";
        background-image: url("../img/apple.svg");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: 26px 30px;
    }
    */
.phone-promo a {
    display: flex;
    align-items: center;
}

.promo a {
    width: 125px;
    display: flex;
    align-items: center;
}

.promo a:hover {
    color: #e30611;
}

.best-sales {
    position: relative;
}

.best-sales::before {
    position: absolute;
    content: "";
    background: url("../img/best.png");
    background-repeat: no-repeat;
    top: 0;
    left: -20px;
    width: 16px;
    height: 27px;
}

.best-sales:hover::before{
    background: url("../img/best-hover.png");
    background-repeat: no-repeat;
}

.discount-image {
    margin-right: 15px;
}

.new-items {
    position: relative;
    padding-left: 15px;
}

.new-items::before {
    position: absolute;
    content: "";
    background: url("../img/star.png");
    background-repeat: no-repeat;
    top: 0;
    left: -20px;
    width: 19px;
    height: 19px;
}
.new-items:hover::before {
    background: url("../img/star-hover.png");
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .navigation {
        flex-direction: column;
    }
    .visible-mobile-only {
        display: block;
    }
}
